.gdbar img {
  width: 180px !important;
  height: 65px !important;
  margin: 8px 8px;
}

/*.gdbar {
  width: 400px !important;
  height: 170px !important;
}*/

slides > slide:not(.nobackground):before {
  width: 85px;
  height: 31px;
  background-size: 85px 31px;
}

.midcenter {
    position: fixed;
    top: 50%;
    left: 50%;
}
